@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom,  #6ab7f5, #fff);
    min-height: 100vw;
}

.container{
    margin: 2.5%;
    margin-bottom: 15%;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
}

button{
    visibility: hidden;
    
}

img{
    visibility: visible;
    
}
.prev{   
    opacity: 0.8;
    height: 60px;
    width: 70px;
}
.next{
    opacity: 0.8;
    height: 60px;
    width: 70px;
}

.info{
    position: relative;

    padding: 10% 2%;
    padding-top: 10%;
    margin: auto;
    margin-bottom: 10%;

    background-color: #eeeeee;
    min-height: 600px;
    width: 100%;
    max-width: 700px;

    box-shadow: 5px 8px 10px 5px rgba(111, 111, 111, 0.25);
    border-radius: 92px;
}



.pokemonImage{
    position: absolute;

    top: -20%;
    left: 35%;

    width: 100%;
    min-width: 200px;
    max-width: 200px;

    
}

.typesContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 48px;

    background: #969ca5;
    border-radius: 60px;

    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));

}

.type-text{
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.atributes{
    display: grid;
    

    grid-template-areas: 
    "titulo titulo titulo"
    "height weight id"
    "abilities abilities abilities"
    ;

    row-gap: 24px;

    margin-top: 32px;
    text-align: left;

}


.titulo-attr{
    grid-area: titulo;
}

.height{
    grid-area: height;
}

.weight{
    grid-area: weight;

}

.id{
    grid-area: id;

}

.abilities{
    grid-area: "abilities";

}

.weakness-container{
    margin-top: 32px;
    text-align: left;
}

.weakness{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.advantages-container{
    margin-top: 32px;
    text-align: left;
}

.advantages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.weakness-container h2, .advantages-container h2{
    margin-bottom: 20px;
}

.search-icon{
    position: fixed;
    right: 20px;
    bottom: 30px;

    height: 70px;
    width: 70px;

    background-color: #ff3333;
    border-radius: 50px;

    border: solid 3px black;
    box-shadow: 4px 4px 5px rgb(161, 161, 161);

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-image{
    height: 50px;
    width: 50px;
}

.form{
    visibility: hidden;

    position: fixed;
    right: 20px;
    bottom: 30px;

    
}
.input__search{
    padding: 10%;
    margin: auto;
    

    background-color: #eeeeee;
    height: 50px;
    width: 300px;
    
    border-radius: 92px;

    background-color: #ff3333;
    border-radius: 50px;

    border: solid 3px black;
    box-shadow: 4px 4px 5px rgb(161, 161, 161);

    font-size: 16px;
}
.input__search::placeholder{
    color: black;
}

.show{
    visibility: visible;
}
.hid{
    visibility: hidden;
}