@charset "UTF-8";

*{ /* Seletor global das CSS*/
    height: auto;
}

body{
    background-image: radial-gradient(circle at 0% bottom, #FCC721, #FB931A, #F75610, #F41204, #E3022C, #D2015F, #C00093, #B700B2);
    background-attachment: fixed;
}

/* Representação usando o nome das cores */
h2#t1{
    background-color: blue;
    color: white;
}

/* Representação usando o código hexadecimal*/
h2#t2{
    background-color: #0000ff;
    color: #ffffff;
}

/* Representação usando o código rgb*/
h2#t3{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

/* Representação usando código hsl*/
h2#t4{
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
}